/* First Line Menu+headin style */
.First-line{
    display: flex;
}
.First-line-header{
    font-size: 20px;
}
.First-line-menu{
    position: absolute;
    right: 70px;
    top:40px;
    
}
.first-menu-element{
    display: inline;
    margin-right: 10px;
    font-size: 20px;
}

/* Second section */
.section-2{
    display: flex;
    height: 400px;
}
.section2-link-button{
    
    text-align: center;
    height: 25px;
    width: 150px;
    background-color: rgb(250, 1, 154);
    border-radius: 20px;
    padding: 10px;
}
.section2-link-text{
    color: white;
    text-decoration: none;
    font-weight: 800;
}
.section-2-article{
    width: 500px;
}
.section-2-img{
    
    position: absolute;
    right:100px;
    height: 400px;
    width: 400px;
}

/* Section-3 Logos and hr line */

.hr-line{
    color: rosybrown;
}
.logo{
    display: inline;
    margin-right: 100px;
}


/* Section-4 Popular item for grid view */

.grid-property{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.product-block{
    margin: 10px;
    padding: 10px;
    background-color: wheat;
    height: 425px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(88, 88, 88, 0.548);
}